/* Imported Google Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    background-image: url("../../img/toys-pic-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: var(--light-dorminant);
    color: var(--light-text);
}

body.dark {
    background-color: var(--dark-dorminant);
    color: var(--dark-text);
}

:root {
    --dom-green: rgb(1, 92, 1);
    --dark-dorminant: #111315;
    --dark-primary: #333;
    --dark-secondary: #343a40;
    --dark-text: #f8f9fa;
    --light-dorminant: #f8f9fa;
    --light-secondary: #eaf5ff;
    --light-text: #1d1d1d;
    --sun-color: #FDB813;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

.shadow-card {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    
}

.no-shadow-card {
    padding: 1rem;
    border-radius: none;
    background-color: rgb(233, 232, 232);
    margin: 1rem;
}

.container-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.container-dashboard {
    height: 100%;
    width: 100%;
    max-width: fit-content;
    max-height: 100%;
}

.container-b-0-div {
    bottom: 0;
    width: 100%;
    max-width: fit-content;
}

.container-whiteboard {
    width: 100%;
    max-width: fit-content;
    background-color: white;
    padding: 1.5rem;
}

.container-transparentboard {
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
}

.center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 1rem 0;
}

.dashboard-welcome {
    margin: 1.5rem;
    font-size: 5em;
    text-align: center;
    color: #eaf5ff;
}

.dashboard-advert-main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #111315;
    padding: 1.5rem 0;
    font-size: 1.2em;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.dashboard-advert-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #111315;
    margin: 0.5rem 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}


.btn-blue {
    background-color: blue;
}

.btn-br-0 {
    border: none;
    border-radius: 0;
    padding: 0.5rem;
}

.row-d-center {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    
}

.circle-2rem {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(197, 79, 10);
}

.grow-flex-item-1 {
    flex-grow: 1;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-shadow-card-text-div {
    margin: 1rem;
    text-align: center;
}

body.dark .container-dashboard .container-b-0-div .container-whiteboard {
    width: 100%;
    max-width: fit-content;
    background-color: var(--dark-dorminant);
    padding: 1.5rem;
}

body.dark .container-dashboard .container-b-0-div .container-whiteboard p {
    color: var(--dark-text);
}

body.dark .no-shadow-card {
    background-color: var(--dark-secondary);
}